@import "../bower_components/bourbon/dist/bourbon";

* { @include box-sizing(border-box); }

/* Variables */
$base-color: #3498db;
$secondary-color: #27ae60;
$first-font: Audiowide;
$second-font: Dosis;


.display{
  display: initial;
}
.hide{
  display: none;
}


header{
  #char-select-container{
    width: 80%;
    height: 100px;
    background-color: $base-color;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    h1{
      text-align: center;
      font-family: $first-font;
      color: white;
      font-size: 40px;
      padding-top: 25px;
    }
  }
  h1{
    text-align: center;
    font-family: $first-font;
  }
  #char-img-container{
    margin-top: 100px;
    height: 300px;
    width: 100%;
    background-color: $base-color;
    border-radius: 10px;
    border: solid $secondary-color 5px;
    #img1{
      float: left;
      width: 25%;
      height: 75%;
      opacity: .6;
      background-color: white;
      margin-top: 4%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 4%;
      background-image: url(http://i.imgur.com/0EAICgx.gif);
      background-size: cover;
      transition: 1s ease-in;
      &:hover{
        height: 80%;
        opacity: 1;
      }
    }
    #img2{
      float: left;
      width: 25%;
      height: 75%;
      opacity: .6;
      background-color: white;
      margin-top: 4%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 4%;
      background-image: url(http://i.imgur.com/l48Eqhu.jpg);
      background-size: cover;
      transition: 1s ease-in;
      &:hover{
        height: 80%;
        opacity: 1;
      }
    }
    #img3{
      float: left;
      width: 25%;
      height: 75%;
      opacity: .6;
      background-color: white;
      margin-top: 4%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 4%;
      background-image: url(http://i.imgur.com/qAzglNT.jpg);
      background-size: cover;
      transition: 1s ease-in;
      &:hover{
        height: 80%;
        opacity: 1;
      }
    }
  }
}

#after-char-select{
  display: none;
  div{
    width: 95%;
    height: 400px;
    background-color: $base-color;
    border-radius: 30px;
    color: white;
    border: solid $secondary-color 5px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s ease-in;
    &:hover{
      color: red;
    }
    h1{
      font-size: 3em;
      padding-top: 100px;
    }
  }
}
#battle{
  display: none;
  height: 100%;
  width :100%;
  #monster-container{
    position: absolute;
      top: 0px;
      right: 0px;
    width: 25%;
    height: 200px;
    background-color: $secondary-color;
    border-radius: 10px;
    border: solid $base-color 5px;
    div{
      background-image: url(http://i.imgur.com/blIXOzm.png);
      background-size: cover;
      height: 90%;
      width: 90%;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    h1{
      font-family: $first-font;
    }
  }
  #char-name{
    position:absolute;
      top: 200px;
    font-family: $first-font;
    font-size: 1.5em;
  }
  #char-container{
    width: 25%;
    height: 200px;
    background-color: $secondary-color;
    border-radius: 10px;
    border: solid $base-color 5px;
    position: absolute;
      bottom: 200px;
      left: 10px;
    #character{
      background-size: cover;
      height: 90%;
      width: 90%;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  #menu{
    width: 98%;
    height: 200px;
    background-color: $base-color;
    border-radius: 5px;
    border: solid $secondary-color 5px;
    position: absolute;
      bottom: 0px;
    #left-menu{
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      border:solid black 5px;
      width: 50%;
      height: 90%;
      background-color: $secondary-color;
      h1{
        padding-left: 10px;
        font-size: 30px;
        font-family: $first-font;
        text-align: center;
      }
      p{
        padding-left: 10px;
        font-family: $second-font;
        text-align: center;
      }
    }
    #inside-menu{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
      border: solid black 5px;
      width: 40%;
      height: 90%;
      background-color: white;
      p{
        font-family: $first-font;
        font-size: 20px;
        text-align: center;
        transition: 1s ease-in;
        &:hover{
          color: red;
          font-size: 25px;
        }
      }
    }
  }
}
